html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

#gameScreen {
    border: 1px solid grey;
    box-shadow: 1px 5px 10px;
}

#gameStatistics {
    background-color: rgba(0,0,0,0.2);
    padding: 12px;
    margin-right: 10px;
    font: 16px Arial;
    color: white;
    position: absolute; 
    top: 10px;
    left: 10px;
    box-shadow: 1px 5px 10px;
}

#statisticsHeadline {
    font-size: 20px;
    font-weight: bold;
}

.highscoreContainer {
    display: flex;
    justify-content: space-between;
}

#leftColumn {
    display: inline-block;
}

#rightColumn {
    display: inline-block;
}

#nolocalHighscore {
    display: none;
}
